{{- if and .Values.enabledRBAC (not .Values.serviceAccountName) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: {{ template "app.name" . }}
    chart: {{ template "app.version" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  name: {{ default (include "app.fullname" .) .Values.serviceAccountNameOverride }}
imagePullSecrets: 
{{ toYaml .Values.image.pullSecrets | indent 2 }}

{{- if eq .Values.level "cluster" }}
---
apiVersion: {{ template "rbac_api_version" . }}
kind: ClusterRole
metadata:
  labels:
    app: {{ template "app.name" . }}
    chart: {{ template "app.version" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  name: {{ include "app.fullname" . }}-{{ .Release.Namespace }}
rules:
- nonResourceURLs: 
  - "/metrics"
  verbs:
  - "get"
- apiGroups:
  - "extensions"
  verbs: 
  - "list"
  - "watch"
  resources:
  - ingresses
- apiGroups: 
  - ""
  verbs: 
  - "list"
  - "watch"
  resources:
  - services
  - endpoints
  - pods
  - nodes
- apiGroups:
  - ""
  resources:
  - nodes/metrics
  verbs:
  - "get"
- apiGroups:
  - ""
  resources:
  - namespaces
  - secrets
  verbs:
  - "list"
  - "watch"
  - "get"
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - "create"

---
apiVersion: {{ template "rbac_api_version" . }}
kind: ClusterRoleBinding
metadata:
  labels:
    app: {{ template "app.name" . }}
    chart: {{ template "app.version" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  name: {{ include "app.fullname" . }}-{{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "app.fullname" . }}-{{ .Release.Namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ default (include "app.fullname" .) .Values.serviceAccountNameOverride }}
    namespace: {{ .Release.Namespace }}
{{- end }}
{{- end }}
